.popular {
  width: 100%;
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.pItem {
  flex: 1;
  gap: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.pImg {
  width: 100%;
}

.pName {
  font-weight: bold;
}

.pCity {
  font-weight: 300;
}

.pPrice {
  font-weight: 500;
}

.pRating > button {
  background-color: #f7b733;
  color: white;
  border: none;
  padding: 3px;
  margin-right: 10px;
  font-weight: bold;
}

.pRating > span {
  font-size: 14px;
}
